  @import url("https://raw.githubusercontent.com/surgedevs/visual-refresh-compact-title-bar/refs/heads/main/browser.css");
/* @import url("https://raw.githubusercontent.com/Demitrix2k/W11-Dotfiles/refs/heads/main/.config/Vencord/Themes/Tokyo%20Night%20Dark%20theme.css"); */


/* Auto-collapse server, channel and member list. BEGIN*/
:root {
  --transition-bezier: 0s ease-in-out;
  --exit-delay: 0.25s;
  --exit-delay: 0s;
  --entry-delay: 0.15s;
  --entry-delay-server: 0.15s;
  --exit-delay-server: 0.25s;
  --exit-delay-server: 0s;
  --collapsed-channel-width: 101px;
  --collapsed-members-width: 64px;
  --collapsed-profile-width: 110px;
  --expanded-channel-width: 240px;
  --expanded-members-width: 240px;
  --expanded-profile-width: 340px;
}

/* Hide Channels sidebar  */
[class*="sidebarList"] {
  transition-delay: var(--exit-delay);
  width: var(--collapsed-channel-width) !important;
}

/* Show Channels sidebar when hovered */
[class*="sidebarList"]:hover {
  transition-delay: var(--entry-delay);
  width: var(--expanded-channel-width) !important;
}

/* Hide server list */
[class*="guilds_"] {
	transition-delay: var(--entry-delay-server);
  &:not(:hover) {
    transition-delay: var(--exit-delay-server);
    padding-left: 13px;
    width: 0px;
  }
}

/* Hide member list */
[class^="membersWrap"],
[aria-label="Members"],
[class^="members"] {
  transition-delay: var(--exit-delay);
  width: var(--collapsed-members-width) !important;
  min-width: var(--collapsed-members-width) !important;
}

/* Show member list when hovered */
[class^="membersWrap"]:hover,
[class^="membersWrap"]:hover [aria-label="Members"],
[class^="members"]:hover {
  /* set width */
  transition: var(--transition-bezier);
  width: var(--expanded-members-width) !important;
}

/* fix and postion adjustment for server channel list */
#channels > ul > li > div > div > a {
  left: -35px !important;
  width: 250px !important;
}
/* Auto-collapse server, channel and member list. END*/


/* hide user  panel avatar */
div[class*="avatarWrapper"] > div[class*="wrapper"][class*="avatar"] {
  display: none;
}

/* repositions and hides user panel */
.visual-refresh section[aria-label="User area"] {
  width: calc(
    var(--custom-guild-sidebar-width) - var(--custom-guild-list-width) + 1px
  );
  left: var(--custom-guild-list-width);
  bottom: 0px;
  border-radius: 0px;
  border: none;
  /* outline: 1px solid red; */
  opacity: 0;
  z-index: 9999;
}
/* unhides user panel */  
.visual-refresh section[aria-label="User area"]:hover {
  opacity: 1;
}

/* shrink the user panel and hides it */
.panels_c48ade {
  height: 42px;
  width: 48px !important;
  width: 110px !important;
  display: flex !important;
  flex-direction: column;
  overflow: hidden;
  transition: width 0.3s;
  transition-delay: 3s;
  z-index: 50000;
  pointer-events: all;
  border: 1px solid var(--border-subtle) !important;
  left: 3px !important;
  &:has(.container_e131a9) {
    background-color: var(--notice-background-positive);
    border: 1px solid var(--border-normal);
  }
}
.panels_c48ade:hover {
	transition-delay: 0s;
  width: 100% !important;
  width: 200px !important;
  height: auto !important;
  .wrapper_e131a9 {
    height: auto !important;
  }
}
.sidebar_c48ade {
  overflow: visible !important;
}

/* small adjustment to user panel to center it when small */
.visual-refresh .container__37e49 {
  padding: 0 !important;
}

/* to make themes consistent */
.visual-refresh .container__2637a {
  background: var(--background-base-low);
}

.visual-refresh div[class^="bannerImage_"],
.visual-refresh div[class^="bannerImg_"] {
  display: none;
}
.visual-refresh div[class^="container_"] {
  --custom-guild-banner-height: 0px;
}
#channels > ul > div:nth-child(1) {
  display: none;
}
div[class^="headerEllipseForeground"] {
  display: none !important;
}
.visual-refresh .bg__960e4 {
  background: var(--background-base-low);
}
.visual-refresh .wrapper_ef3116 {
  background: var(--background-base-low);
}

[class*="sidebarList_"] {
	border: unset !important;
  }

/* hide nitro ads from profile */
[data-list-item-id*="_get-premium"] {
  display: none;
}
[class*="menuDivider_"]:has(+ [data-list-item-id*="_get-premium"]) {
  display: none;
}

/* Hides Store and Shop button BEST WORKING SO FAR THAN ABOVE ONE*/
[href="/store"],
[href="/shop"] {
  display: none;
}

/* Hide Nitro Gift button */
button[aria-label="Send a gift"] {
  display: none;
}

/* Hide app launcher */
[class*="channelAppLauncher_"] {
  display: none;
}

/* Hide forward button (only on hover) */
#message-actions-forward {
  display: none;
}
div[aria-label="Forward"] {
  display: none;
}

/* Hide "Find or start conversation" button in home */
/* .searchBar_f0963d { */
  /* display: none; */
/* } */

/* Scale the _ □ X buttons to match top bar icons */
div[class*="winButton_"] {
  top: 13px;
  transform: scale(1.6);
  padding-right: 4px;
  right: 4px;
  -webkit-app-region: no-drag !important;
  display: none;
}
div[class*="winButton_"]:hover {
  color: var(--currentColor);
  background-color: transparent;
  display: none;
}

[class*="base_"] > [class*="content_"] {
  [class*="page_"] {
    border-left: none;
  }

  [class*="sidebar_"] {
    &::after {
      display: none;
    }

    [class*="sidebarList_"] {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
    }
  }
}



/* hypercompact channel list */
/* unread__2ea32 */
[class*="unread__"] {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  left: auto;
  right: 4px;
  top: 16px;
  display:none;
}
.modeSelected__2ea32 .link__2ea32 {
  background-color: var(--brand-700) !important;
}
.link__2ea32 {
  padding-left: 16px;
  border-radius: 0px !important;

  /* &::before { */
    /* width: 1px; */
    /* left: 10px; */
    /* background-color: rgba(255, 255, 255, 0.3); */
  /* } */
  &:hover {
    background-color: var(--brand-800) !important;
  }
  .icon__2ea32 {
    scale: 0.8;
  }

  .linkTop__2ea32 {
    gap: 4px;
  }
}

.wrapper__2ea32 {
  margin: 0px;
}

.name__2ea32,
.overflow__82b15 {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2857142857142858;
}

.wrapper__29444 {
  padding: var(--space-xxs) var(--space-xs);
  padding-left: 4px;
  box-sizing: content-box;

  .mainContent__29444 {
    flex-direction: row-reverse !important;
    flex: none !important;
    gap: 8px;
  }

  .icon__29444 {
    scale: 1.25;
  }
}

.spine__5b40b {
  display: none !important;
}

.spineBorder__5b40b {
  left: 10px;
  width: 1px;
  background: rgba(255, 255, 255, 0.3) !important;
  height: 100%;
}

.typeThread__2ea32 {
  margin-left: 10px !important;
  .link__2ea32 {
    padding-left: 20px !important;
  }
}
