@import url('https://raw.githubusercontent.com/Demitrix2k/W11-Dotfiles/refs/heads/main/.config/Vencord/Themes/Tokyo%20Night%20Dark%20theme.css');
        
    /* Auto-collapse server, channel and member list. */
    :root {
        --transition-bezier: 0s ease-in-out; 
        --exit-delay: 0.25s;
        --exit-delay-server: .25s;
        --collapsed-channel-width: 105px;
        --collapsed-members-width: 64px;
        --collapsed-profile-width: 110px;
        --expanded-channel-width: 240px;
        --expanded-members-width: 240px;
        --expanded-profile-width: 340px;
    }     
        
        
    /* Hide Channels sidebar (DISCORD UPDATE) */
    div[class^=base] > div[class^=content] > div[class^=sidebar] > div[class^=sidebarList] {
        transition-delay: var(--exit-delay);
        width: var(--collapsed-channel-width)!important;
        }
            
        
        
    /* Show Channels sidebar when hovered */
    div[class^=base] > div[class^=content] > div[class^=sidebar] > div[class^=sidebarList]:hover {
        transition-delay: var(--exit-delay);
        width: var(--expanded-channel-width)!important;
    }
    /* Hide server list when Channels sidebar is hovered */
    /*
        div[class^=base] > div[class^=content] > div[class^=sidebar] > div[class^=sidebarList]:hover ~ [class*=guilds_] {
        padding-left: 13px;
        width: 0px;
    } 
    */
    
        
    /* Hide Channels sidebar */
    /* 
    div[class^=base] > div[class^=content] > div[class^=sidebar] {
        transition-delay: var(--exit-delay);
        width: var(--collapsed-channel-width)!important;
    }
     */
    /* Show Channels sidebar when hovered */
    /* 
    div[class^=base] > div[class^=content] > div[class^=sidebar]:hover {
        transition-delay: var(--exit-delay);
        width: var(--expanded-channel-width)!important;
    }
     */
    /* Hide server list when Channels sidebar is hovered */
    /* 
    div[class^=base] > div[class^=content] > div[class^=sidebar]:hover ~ [class*=guilds_] {
        padding-left: 13px;
        width: 0px;
    }
      */   
    
    
    /* Hide Channels sidebar (DISCORD UPDATE) */
    div[class^=base] > div[class^=content] > div[class^=sidebarList] {
        transition-delay: var(--exit-delay);
        width: var(--collapsed-channel-width)!important;
    }
    /* Show Channels sidebar when hovered */
    div[class^=base] > div[class^=content] > div[class^=sidebarList]:hover {
        transition-delay: var(--exit-delay);
        width: var(--expanded-channel-width)!important;
    }
    /* Hide server list when Channels sidebar is hovered */
    div[class^=base] > div[class^=content] > div[class^=sidebarList]:hover ~ [class*=guilds_] {
        padding-left: 13px;
        width: 0px;
    }
    
    
    /* Hide server list */
    [class*=guilds_] {
        &:not(:hover) {
            transition-delay: var(--exit-delay-server);
            padding-left: 13px;
            width: 0px;
        }
    }
    /* Show server list when hovered */
    [class*=guilds_]:hover {
        transition-delay: var(--exit-delay-server);
        width: var(--collapsed-members-width)!important;
    }
    /* Hide member list */
    [class^=membersWrap],
    [aria-label="Members"],
    [class^=members] {
        transition-delay: var(--exit-delay);
        width: var(--collapsed-members-width)!important;
        min-width: var(--collapsed-members-width)!important;
    }
    /* Show member list when hovered */
    [class^=membersWrap]:hover,
    [class^=membersWrap]:hover [aria-label="Members"],
    [class^=members]:hover {
        /* set width */
        transition-delay: 0s;
        transition: var(--transition-bezier);
        width: var(--expanded-members-width)!important;
    }    
        
    #channels > ul > li > div > div > a {
	left: -35px !important;
    width: 250px !important;
}        
        
    /* hide user avatar in bottom left */
    
    div[class*="avatarWrapper"] > div[class*="wrapper"][class*="avatar"] {
        display:none;
    }     
       
    /* repositions bottom left username area */ 
    .visual-refresh section[aria-label="User area"] {
        width: calc(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width) + 1px);;
        left: var(--custom-guild-list-width);
        bottom: 0px;
        border-radius: 0px;
        border: none;
    }
    
    .visual-refresh nav:has([data-list-id="guildsnav"]) {
      margin-bottom: unset;
    }
        
    /* shrink the user panel to just server list width */   
    
     .panels_c48ade {
      height: 42px;
      width: 48px!important;
     display: flex!important;
     flex-direction: column;
     overflow: hidden;
     transition: width 0.3s;
      z-index: 50000;
      pointer-events: all;
      border: 1px solid var(--border-subtle)!important;
      left: 15px !important;   
    
     &:has(.container_e131a9) {
      background-color: var(--notice-background-positive);
      border: 1px solid var(--border-normal);
         }   
        }
    /* small adjustment to user panel to center it when small */ 
    .visual-refresh .container__37e49 {
        padding: 0 !important;   
     }
    
    
    .wrapper_e131a9 {
      height: 0;
      overflow: hidden;
       transition: height 0.5s;
    }
    .panels_c48ade:hover {
      width: 100%!important;
      width: 200px!important;
      height: auto!important;
      .wrapper_e131a9 {
        height: auto!important;
      }
    }
    .sidebar_c48ade {
      overflow: visible!important;
    }
    .container__2637a {
      padding-bottom: 0px!important;
    }
    .scroller__99e7c {
      margin-bottom: 0px!important;
    }
    
    .bottom__7aaec {
      bottom: 0px!important;
    }   
       
    /* shrink the user panel to just server list width */     
        
        
    /* hide title */    
        div[class^=title_] {
            display:none;
        }   
    
    
	/* to make themes consistent */
.visual-refresh .container__2637a {
    background: var(--background-base-low);
}
    
.visual-refresh div[class^="bannerImage_"], 
.visual-refresh div[class^="bannerImg_"] {
	display: none;
}  
.visual-refresh div[class^="container_"] {
    --custom-guild-banner-height: 0px;
}   
#channels > ul > div:nth-child(1) {
	display: none;
}  
div[class^="headerEllipseForeground"] {
	display: none !important;
}  
.visual-refresh .bg__960e4 {
    background: var(--background-base-low);
}  
.visual-refresh .wrapper_ef3116 {
background: var(--background-base-low);
}    
    
	/* to make themes consistent */
    
	
	
	/* Scale the _ □ X buttons to match top bar icons */
div[class*=winButton_] {
    top: 13px;
    transform: scale(1.6);
    padding-right: 4px;
    right: 4px;
    -webkit-app-region: no-drag !important;
	display:none;	
}
div[class*=winButton_]:hover {
    color: var(--currentColor);
    background-color: transparent;
	display:none;	
}
