/* Hides the # in channel names and also hides server user list */
@media (max-width: 1100px)
{
    [class*="sidebar_"]
    {
        width: 200px;
        .vc-typing-indicator, .vc-channelemojis-emoji, [class*="guildIconV2Container_"]
        {
            display: none;
        }
        [class*="containerDefault_"]
        {
            [role="img"]
            {
                display: none;
            }
        }
    }
    [class*="chat_"]
    {
        [class*="membersWrap_"]
        {
            display: all;
        }
    }
}




/* Hide the dumbfuck voice chat icon on server lists */

[class^="upperBadge_"] {
	display:none;
}

/*
 * @name Collapsable Sidebars
 * @author rech
 * @source https://github.com/rechington/Discord-Mods/blob/main/collapsable%20sidebars.css
*/
/* Hide left sidebar */
div[class^=base] > div[class^=content] > div[class^=sidebar] {
    transition: width 0.15s ease, padding 0.15s ease; 
	transition-delay: 3.0s;
    width: 60px!important;
}

/* Show left sidebar when hovered */
div[class^=base] > div[class^=content] > div[class^=sidebar]:hover {
    width: 230px!important;
	transition-delay: 0.2s;
}

/*for server list*/
[class*=guilds_] {
    transition: width 0.15s ease, padding 0.15s ease;  /* how fast to open and close the server list and the padding */
    transition-delay: 0.2s; /* how long to hover before opening*/
  &:not(:hover) {
    transition-delay: 8.5s; /* how to keep open after hover is removed*/
    padding-left: 13px;
    width: 0px;
  }
}

/* Shrinks titlebar down to nothing */
div[class*="titleBar_"] {
    height: 5px;
}

/* Removes the "Discord" text on the top left of the screen */
div[class*="wordmark_"] {
    display: none;
}

/* Scale the _ □ X buttons to match top bar icons */
div[class*=winButton_] {
    top: 13px;
    transform: scale(1.6);
    padding-right: 4px;
    right: 4px;
    -webkit-app-region: no-drag !important;
	display:none;	
}
div[class*=winButton_]:hover {
    color: var(--currentColor);
    background-color: transparent;
	display:none;	
}

/* small hack to avoid https://github.com/electron/electron/issues/1354 */
/* [class^="winButtonClose_"], */
/* [class^="closeButton_"] { */
    /* -webkit-app-region: no-drag; */
	/* display:none; */
}
div[class^="upperContainer_"] {
    -webkit-app-region: drag;
    width: calc(100% - 96px);
}

/* revert offset when thread/forum channel is open */
div[class*="threadSidebarOpen_"] > div > section > div[class^="upperContainer_"] {
    width: 100%;
}


/* --- */

/* hide nitro ads from profile */

[data-list-item-id*="_get-premium"] {
  display: none;
}
[class*="menuDivider_"]:has(+[data-list-item-id*="_get-premium"])
 {
  display: none;
}

/* Hides Store and Shop button BEST WORKING SO FAR THAN ABOVE ONE*/
[href="/store"], 
[href='/shop']
{
  display: none;
}

/* Hide Nitro Gift button */
button[aria-label="Send a gift"] {
  display: none;
}

/* Hide app launcher */
[class*=channelAppLauncher_] {
  display: none;
}

/* Hide forward button (only on hover) */
#message-actions-forward {
    display: none;
}

div[aria-label="Forward"] {
    display: none;
}

/* Hide "Find or start conversation" button in home */
.searchBar_f0963d {
    display: none;
}
