/* ########################## ---BEGIN OF SNIPPET--- ########################## */

/* Auto-collapse server, channel and member list. */
:root {
    --transition-bezier: 0s ease-in-out; 
    --exit-delay: 0.25s;
	--exit-delay-server: .25s;
    --collapsed-channel-width: 64px;
    --collapsed-members-width: 64px;
    --collapsed-profile-width: 110px;
    --expanded-channel-width: 240px;
    --expanded-members-width: 240px;
    --expanded-profile-width: 340px;
}   
/* Hide Channels sidebar (DISCORD UPDATE) */
div[class^=base] > div[class^=content] > div[class^=sidebar] > div[class^=sidebarList] {
    transition-delay: var(--exit-delay);
    width: var(--collapsed-channel-width)!important;
    }
/*undoes the hiding a low width discord now does */    
@container (max-width: 100px) {
    .visual-refresh div[class^=sidebarList] *  {
   /* display: revert; */
    }
}    
/* Show Channels sidebar when hovered */
div[class^=base] > div[class^=content] > div[class^=sidebar] > div[class^=sidebarList]:hover {
    transition-delay: var(--exit-delay);
    width: var(--expanded-channel-width)!important;
}
/* Hide server list when Channels sidebar is hovered */
div[class^=base] > div[class^=content] > div[class^=sidebar] > div[class^=sidebarList]:hover ~ [class*=guilds_] {
    padding-left: 13px;
    width: 0px;
} 


/* Hide Channels sidebar */
div[class^=base] > div[class^=content] > div[class^=sidebar] {
    transition-delay: var(--exit-delay);
    width: var(--collapsed-channel-width)!important;
}
/* Show Channels sidebar when hovered */
div[class^=base] > div[class^=content] > div[class^=sidebar]:hover {
    transition-delay: var(--exit-delay);
    width: var(--expanded-channel-width)!important;
}
/* Hide server list when Channels sidebar is hovered */
div[class^=base] > div[class^=content] > div[class^=sidebar]:hover ~ [class*=guilds_] {
    padding-left: 13px;
    width: 0px;
}


/* Hide Channels sidebar (DISCORD UPDATE) */
div[class^=base] > div[class^=content] > div[class^=sidebarList] {
    transition-delay: var(--exit-delay);
    width: var(--collapsed-channel-width)!important;
}
/* Show Channels sidebar when hovered */
div[class^=base] > div[class^=content] > div[class^=sidebarList]:hover {
    transition-delay: var(--exit-delay);
    width: var(--expanded-channel-width)!important;
}
/* Hide server list when Channels sidebar is hovered */
div[class^=base] > div[class^=content] > div[class^=sidebarList]:hover ~ [class*=guilds_] {
    padding-left: 13px;
    width: 0px;
}


/* Hide server list */
[class*=guilds_] {
    &:not(:hover) {
        transition-delay: var(--exit-delay-server);
        padding-left: 13px;
        width: 0px;
    }
}
/* Show server list when hovered */
[class*=guilds_]:hover {
    transition-delay: var(--exit-delay-server);
    width: var(--collapsed-members-width)!important;
}
/* Hide member list */
[class^=membersWrap],
[aria-label="Members"],
[class^=members] {
    transition-delay: var(--exit-delay);
    width: var(--collapsed-members-width)!important;
    min-width: var(--collapsed-members-width)!important;
}
/* Show member list when hovered */
[class^=membersWrap]:hover,
[class^=membersWrap]:hover [aria-label="Members"],
[class^=members]:hover {
    /* set width */
    transition-delay: 0s;
    transition: var(--transition-bezier);
    width: var(--expanded-members-width)!important;
}
/* ########################## ---END OF SNIPPET--- ########################## */



/* ########################## ---BEGIN OF SNIPPET--- ########################## */

/* Hides the banner image in the server list */
[class*=animatedContainer_]:has(>[class*=bannerImage_]),
[style="height: 84px;"] {
	display:none

}
/* ########################## ---END OF SNIPPET--- ########################## */



/* ########################## ---BEGIN OF SNIPPET--- ########################## */

/* Hides the # in channel names and also hides server user list */
@media (max-width: 1100px)
{
    [class*="sidebar_"]
    {
        width: 200px;
        .vc-typing-indicator, .vc-channelemojis-emoji, [class*="guildIconV2Container_"]
        {
            display: none;
        }
        [class*="containerDefault_"]
        {
            [role="img"]
            {
                display: none;
            }
        }
    }
    [class*="chat_"]
    {
        [class*="membersWrap_"]
        {
            display: all;
        }
    }
}
/* ########################## ---END OF SNIPPET--- ########################## */



/* ########################## ---BEGIN OF SNIPPET--- ########################## */
/* Hide the dumbfuck voice chat icon on server lists */

[class^="upperBadge_"] {
	display:none;
}

/*
 * @name Collapsable Sidebars
 * @author rech
 * @source https://github.com/rechington/Discord-Mods/blob/main/collapsable%20sidebars.css
*/
/* ########################## ---END OF SNIPPET--- ########################## */



/* ########################## ---BEGIN OF SNIPPET--- ########################## */

/* Shrinks titlebar down to nothing */
div[class*="titleBar_"] {
    height: 1px;
}
/* ########################## ---END OF SNIPPET--- ########################## */



/* ########################## ---BEGIN OF SNIPPET--- ########################## */

/* Removes the "Discord" text on the top left of the screen */
div[class*="wordmark_"] {
    display: none;
}
/* ########################## ---END OF SNIPPET--- ########################## */



/* ########################## ---BEGIN OF SNIPPET--- ########################## */

/* Scale the _ □ X buttons to match top bar icons */
div[class*=winButton_] {
    top: 13px;
    transform: scale(1.6);
    padding-right: 4px;
    right: 4px;
    -webkit-app-region: no-drag !important;
	display:none;	
}
div[class*=winButton_]:hover {
    color: var(--currentColor);
    background-color: transparent;
	display:none;	
}
/* revert offset when thread/forum channel is open */
div[class*="threadSidebarOpen_"] > div > section > div[class^="upperContainer_"] {
    width: 100%;
}
/* fixes header offset being skewed away from the right */
div[class^="upperContainer_"] {
  -webkit-app-region: drag;
  width: 100%;
}
/* ########################## ---END OF SNIPPET--- ########################## */



/* ########################## ---BEGIN OF SNIPPET--- ########################## */

/* hide nitro ads from profile */

[data-list-item-id*="_get-premium"] {
  display: none;
}
[class*="menuDivider_"]:has(+[data-list-item-id*="_get-premium"])
 {
  display: none;
}

/* Hides Store and Shop button BEST WORKING SO FAR THAN ABOVE ONE*/
[href="/store"], 
[href='/shop']
{
  display: none;
}

/* Hide Nitro Gift button */
button[aria-label="Send a gift"] {
  display: none;
}

/* Hide app launcher */
[class*=channelAppLauncher_] {
  display: none;
}

/* Hide forward button (only on hover) */
#message-actions-forward {
    display: none;
}

div[aria-label="Forward"] {
    display: none;
}

/* Hide "Find or start conversation" button in home */
.searchBar_f0963d {
    display: none;
}
/* ########################## ---END OF SNIPPET--- ########################## */



/* ########################## ---BEGIN OF SNIPPET--- ########################## */
/* Fix Chat Title/Topics */
div[class*='topic__'],
div[class*='nicknames__'],
div[class*='subtitleContainer_'] div[class*='children__']{
  width: 0;
}
/* fix VC sizing */
.tileWrapper__6981d {
  position: absolute;
}
/* fix threads pop up window priority */ 
div[class^=chatLayerWrapper] {
	z-index: 1000;
}   

/* hide user avatar in bottom left */
div[class*="avatarWrapper"][class*="experiment"] > div[class*="wrapper"][class*="avatar"] {
	display:none;
} 
/* pads username for avatar in bottom left more into the left side */
div[class*="avatarWrapper"][class*="experiment"] > div[class*="nameTag"][class*="canCopy"] {
	padding-left: 0px;
}  
/* ########################## ---END OF SNIPPET--- ########################## */